* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #171717;

}

.container-fluid {
    background: linear-gradient(to right, #fbedd4, #cfb383);
}

.main__header {
    margin-bottom: 10px;
    border-radius: 10px;
}

.main .main__body {
    background: #fdfcfa;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.bodyleft a{
    color: #171717;
    padding: 12px;
    display: block;    
    line-height: 16px;
    margin-bottom: 10px;
}

.nav-pills .nav-link.active {
    background-color:#feefd0;
    color: #f09555;
    font-weight: 500;
}


.bodyright {
    width: 85%;
}

.bodyright__info,
table {
    background: #fff2ec;
    border-radius: 10px;
    padding: 20px;
}

.bodyright .bodyright__info table {
    margin-top: 50px;
    font-size: 13px;
}

.table td{
    vertical-align: 0;
}

